<div class="navbar bg-base-100 shadow-sm z-[9999] relative">
  <div class="flex-1">
    <a href="/index.html" class="btn btn-ghost text-xl">Alan's Portfolio</a>
  </div>

  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      <li><a href="/src/pages/resume.html">Resume</a></li>
      <li><a href="/src/pages/projects.html">Projects</a></li>
      <li><a href="/src/pages/presentation.html">Case Study Presentation</a></li>

      <li class="relative">
        <details>
          <summary>Case Studies</summary>
          <ul
            class="absolute bg-base-100 rounded-t-none p-2 w-56 shadow top-full right-0 md:right-auto md:left-0">
            <li><a href="/src/pages/case1.html">Case Study 1</a></li>
            <li><a href="/src/pages/case2.html">Case Study 2</a></li>
            <li><a href="/src/pages/case3.html">Case Study 3</a></li>
            <li><a href="/src/pages/case4.html">Case Study 4</a></li>
            <li><a href="/src/pages/case5.html">Case Study 5</a></li>
            <li><a href="/src/pages/case6.html">Case Study 6</a></li>
          </ul>
        </details>
      </li>
    </ul>
  </div>
</div>
